* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(225, 100%, 94%);
  background-image: url("pattern-background-desktop.svg");
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
.header {
  background-color: #6e778f;
  width: 100%;
  font-weight: 900;
  text-shadow: 3px 3px 4px rgba(71, 71, 71, 0.342);
  padding-bottom: 30px;
  border-bottom: 4px solid #b2bcd4;
  box-shadow: 5px 2px 7px 1px rgba(0, 0, 0, 0.37);
  overflow: hidden;
}
.header h1 {
  position: relative;
  top: 10px;
  left: 20px;
}
.header p1 {
  position: relative;
  top: 10px;
  left: 38px;
}
.login {
  letter-spacing: 2px;
  position: absolute;
  right: 110px;
  top: 10px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
}
.login:hover {
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.527);
  transition: 0.9s;
}
.topnav {
  position: relative;
  bottom: 4px;
  background-color: #6e778f;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.363);
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(230, 236, 250);
  box-shadow: 0px 0px 10px 1px rgba(223, 232, 255, 0.568);
  color: black;
  transition: 0.9s;
}

.topnav a.active {
  background-color: #afbee4;
  box-shadow: 0px 0px 10px 1px rgba(175, 190, 228, 0.616);
  color: white;
}
.topnav a.active:hover {
  background-color: #9eb9ff;
  box-shadow: 0px 0px 10px 1px #9ebaff70;
  color: #000;
}
.content {
  line-height: 200%;
  position: relative;
  top: 70px;
  left: 30%;
  border: none;
  border-radius: 4px;
  padding: 30px;
  display: inline-block;
  background-color: rgb(110, 119, 143);
  box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.363);
}
.content p1:hover,
.content p2:hover,
.content h1:hover {
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  transition: 0.9s;
}
.sidenav {
  float: right;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  top: 100px;
  right: 15px;
  background-color: rgb(110, 119, 143);
  box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.363);
  border: none;
  border-radius: 3px;
}
.sidenav a {
  text-align: center;
  display: block;
  width: 100%;
  color: #f2f2f2;
  padding: 10px 16px;
  font-size: 17px;
}

.sidenav a:hover {
  background-color: rgb(230, 236, 250);
  box-shadow: 0px 0px 10px 1px rgba(223, 232, 255, 0.568);
  color: black;
  transition: 0.9s;
}

.footer {
  background-color: #6e778f;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 5px;
}
.footer a:after {
  content: "";
  position: absolute;
  width: 11%;
  transform: scaleX(0);
  height: 2px;
  bottom: 3px;
  left: 670px;
  background-color: rgb(0, 0, 0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.footer i {
  color: white;
}
.footer i:hover {
  color: red;
  cursor: pointer;
  transition: 0.9s;
}
.footer a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
